*.code-workspace
*.code-search

# Layout/script for security apps.
.i3/bin/ws/sec.sh
.i3/ws/*-sec.json*

# symlimk to generated config
.i3/config
# Script-generated configs
.i3/config-gen-output/*

# IDE specific configs
.vscode/*