# i3 config file (v4)
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

# Key mnemonics - (i3 default)
# semi-colon: scratchpad
# a: (parent/child) - duplicates p
# b: borders
# c: 
# d: (dmenu)
# e: (layout)
# f: Find
# g: (go, gaps)
# h: help
# i: i3 itself
# j: jump
# k: workspaces
# l: layouts
# m: marks
# n: notifications
# o: 
# p: parent/child - duplicates (a)
# q: (quit, toggle split layout)
# r: resize, rename
# s: (stacking/sticky)
# t: (transparency, cycle marks)
# u: 
# v: (vertical split)
# w: (tabbed layout)
# x: (xkill)
# y:
# z: (morc_menu)

# Set mod key (Mod1=<Alt>, Mod4=<Super>)
set $mod Mod4
set $alt Mod1

# set default desktop layout (default is tiling)
# workspace_layout tabbed <stacking|tabbed>

# Configure border style <normal|1pixel|pixel xx|none|pixel>
new_window pixel 1
new_float normal

# Hide borders
hide_edge_borders none

# change borders
bindsym $mod+b exec --no-startup-id ~/.i3/bin/i3-border-toggle-partial.sh
bindsym $mod+Shift+b border none

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
# font xft:URWGothic-Book 11
font xft:Noto Sans Medium 11

# Use Mouse+$mod to drag floating windows
floating_modifier $mod

bindsym $mod+button9 --whole-window exec --no-startup-id "/usr/bin/bash -c \\"~/.bashrc.d/pointer.sh zero\\""
bindsym $mod+button8 --whole-window exec --no-startup-id "/usr/bin/bash -c \\"~/.bashrc.d/pointer.sh con_center\\""

# Start a terminal
# The two Alt-key variations bypass urxvtd and start urxvt with its own process.
bindsym $mod+Return exec terminal
bindsym $mod+$alt+Return exec "urxvt -e bash -i"
# start a floating terminal
# Start with title flag (urxvt) which i3 will catch.
# [class=] would be better (urxvt -name flag) but it
# doesn't work. Probably not set by urxvt until after
# i3 is notified of window creation. urxvt will rename
# the window and so will the shell most likely, so this
# should appear only briefly if at all.
# Another cleaner option would setting hints via EMWH.
bindsym $mod+Shift+Return exec terminal -title "Float"
# bindsym $mod+$alt+Shift+Return exec "urxvt -title 'Float' -e bash --rcfile <(echo '. ~/.bashrc')"
bindsym $mod+$alt+Shift+Return exec "urxvt -title 'Float' -e bash -i"
for_window [title="Float"] floating enable, border normal, resize set 800 500, move position center

# Notify NumLock state
# TODO: query system for desktop icon dir. (>gtk-query-settings  | grep -i icon)
bindsym Num_Lock --release exec "NLSTATE=`xset q | grep -Po 'Num Lock:\s*\K\w+'`; \
dunstctl close; notify-send -i /usr/share/icons/Papirus/22x22/panel/num-lock-${NLSTATE}.svg \\"NumLock: ${NLSTATE^^}\\""

# kill focused window
bindsym $mod+Shift+q kill

# start program launcher
bindsym $mod+d exec --no-startup-id dmenu_recency
bindsym $mod+Shift+d exec --no-startup-id ~/.i3/bin/dmenu-todo.sh

# launch categorized menu
bindsym $mod+z exec --no-startup-id morc_menu

################################################################################################
## sound-section - DO NOT EDIT if you wish to automatically upgrade Alsa -> Pulseaudio later! ##
################################################################################################

# exec --no-startup-id volumeicon
# bindsym $mod+Ctrl+m exec terminal -e 'alsamixer'
exec --no-startup-id pulseaudio
exec --no-startup-id pa-applet
# bindsym $mod+Ctrl+m exec pavucontrol

################################################################################################

# Screen brightness controls
# bindsym XF86MonBrightnessUp exec "xbacklight -inc 10; notify-send 'brightness up'"
# bindsym XF86MonBrightnessDown exec "xbacklight -dec 10; notify-send 'brightness down'"

# Start Applications
bindsym $mod+Ctrl+b exec terminal -e 'bmenu'
bindsym $mod+F2 exec palemoon
bindsym $mod+F3 exec pcmanfm
# bindsym $mod+F3 exec ranger
bindsym $mod+Shift+F3 exec gksu pcmanfm
bindsym $mod+F5 exec terminal -e 'mocp'

# Notifications
bindsym $mod+Ctrl+$alt+Shift+n --release exec "killall dunst; notify-send 'restart dunst'"
  # Dunst has its own DEPRECATED key bindings in ~/.config/dunst/dunstrc.
bindsym $mod+n exec --no-startup-id dunstctl history-pop
bindsym $mod+Shift+n exec --no-startup-id dunstctl close
bindsym $mod+Ctrl+n exec --no-startup-id dunstctl context
bindsym $mod+$alt+n exec --no-startup-id dunstctl context
bindsym $mod+Ctrl+Shift+n exec --no-startup-id dunstctl close-all
bindsym $mod+$alt+Shift+n exec --no-startup-id dunstctl close-all

bindsym Print exec --no-startup-id i3-scrot
bindsym $mod+Print --release exec --no-startup-id i3-scrot -w
bindsym $mod+Shift+Print --release exec --no-startup-id i3-scrot -s
#bindsym $mod+Shift+h exec xdg-open /usr/share/doc/manjaro/i3_help.pdf
# i3help https://github.com/glennular/i3help
bindsym $mod+Shift+h exec i3help
bindsym $mod+Ctrl+x --release exec --no-startup-id xkill

focus_follows_mouse no

# Guidelines for focusing and moving containers and workspaces
# 1. Arrow keys act within a workspace
# 2. PageUp/Down (Prior/Next) act between workspaces
# 3. $mod alone changes focus
# 4. $mod+Shift moves a container (window(s) but not whole workspace)

# change focus
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window within a workspace
# NUM ppt/px will only apply to floating windows.
# i.e. the 3 blocks below are behaviorially identical for tiled windows.
# large jump
bindsym $mod+Shift+Left move left 10 ppt
bindsym $mod+Shift+Down move down 10 ppt
bindsym $mod+Shift+Up move up 10 ppt
bindsym $mod+Shift+Right move right 10 ppt
# small jump
bindsym $mod+Ctrl+Shift+Left move left 1 ppt
bindsym $mod+Ctrl+Shift+Down move down 1 ppt
bindsym $mod+Ctrl+Shift+Up move up 1 ppt
bindsym $mod+Ctrl+Shift+Right move right 1 ppt
# single pixel
bindsym $mod+Ctrl+$alt+Shift+Left move left 1 px
bindsym $mod+Ctrl+$alt+Shift+Down move down 1 px
bindsym $mod+Ctrl+$alt+Shift+Up move up 1 px
bindsym $mod+Ctrl+$alt+Shift+Right move right 1 px

# snap floating window to screen edges (or center on screen)
# Note: while the Down and Insert keys don't make semantic sense, they have
# the corresponding compass positions (center and bottom respectively)
bindsym --release $mod+$alt+Shift+Prior  exec ~/.i3/bin/i3-compass-snap.sh northwest
bindsym --release $mod+$alt+Shift+Up     exec ~/.i3/bin/i3-compass-snap.sh north
bindsym --release $mod+$alt+Shift+Home   exec ~/.i3/bin/i3-compass-snap.sh northeast
bindsym --release $mod+$alt+Shift+Left   exec ~/.i3/bin/i3-compass-snap.sh west
bindsym --release $mod+$alt+Shift+Down   exec ~/.i3/bin/i3-compass-snap.sh center
bindsym --release $mod+$alt+Shift+Right  exec ~/.i3/bin/i3-compass-snap.sh east
bindsym --release $mod+$alt+Shift+Next   exec ~/.i3/bin/i3-compass-snap.sh southwest
bindsym --release $mod+$alt+Shift+Insert exec ~/.i3/bin/i3-compass-snap.sh south
bindsym --release $mod+$alt+Shift+End    exec ~/.i3/bin/i3-compass-snap.sh southeast


# split orientation
bindsym $mod+h split h; exec notify-send 'tile horizontally'
bindsym $mod+v split v; exec notify-send 'tile vertically'
bindsym $mod+q split toggle

# toggle fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# exempt from i3-shade
bindsym $mod+Ctrl+space nop i3-shade-exempt

# close all floating windows on workspace
bindsym $mod+Ctrl+$alt+Shift+space [workspace="__focused__" floating] kill

# toggle sticky
bindsym $mod+Shift+s sticky toggle

# focus the parent container
bindsym $mod+a focus parent
bindsym $mod+p focus parent
# focus the child
bindsym $mod+Shift+a focus child
bindsym $mod+Shift+p focus child

# move the currently focused window to the scratchpad
bindsym $mod+Shift+semicolon move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+semicolon scratchpad show

#region WORKSPACE NAV COMMANDS
# workspace back and forth (with/without active container)
workspace_auto_back_and_forth yes
bindsym $mod+j workspace back_and_forth
bindsym $mod+Shift+j move container to workspace back_and_forth; workspace back_and_forth

# Unicode 200E forces left-to-right rendering
# BEGIN WORKSPACE ORDER #
 pkg
 audio
謹 code
 dbg
瞧 vrt
 net
 src
 ref
‎ﲵ term
聾 sec
 kbd
txt
‎שּ comm
 ofc
縉 grph
行 alt
漣 sys
拓 web
‎ﯔ font
‎ﰌ game
# END WORKSPACE ORDER #

# Pre-defined workspace layouts #
bindsym $mod+l mode "$mode_layout"
# Layout mode can be used to merely focus WS. append_layout will abort if WS isn't empty.
# i3-config-gen will replace {{{label}}} with the full "num:icon-label" defined above.
# set $mode_layout Load Layout: (p)kgs  (a)udio  (c)omms  (k)bd  (r)ef  (s)ec  (t)erms
set $mode_layout Load Layout: p̅kgs  a̳udio  c̳omms  k̳bd  r̳ef  s̳ec  t̳erms
mode "$mode_layout" {
    bindsym a exec --no-startup-id /usr/bin/bash ~/.i3/bin/ws/audio.sh {{{audio}}}, mode "default"
    bindsym c exec --no-startup-id /usr/bin/bash ~/.i3/bin/ws/comms.sh {{{comm}}}, mode "default"
    bindsym k exec --no-startup-id /usr/bin/bash ~/.i3/bin/ws/kbd.sh {{{kbd}}}, mode "default"
    bindsym p exec --no-startup-id /usr/bin/bash ~/.i3/bin/ws/pkgs.sh {{{pkg}}}, mode "default"
    bindsym r exec --no-startup-id /usr/bin/bash ~/.i3/bin/ws/ref.sh {{{ref}}}, mode "default"
    bindsym s exec --no-startup-id /usr/bin/bash ~/.i3/bin/ws/sec.sh {{{sec}}}, mode "default"
    bindsym t exec --no-startup-id /usr/bin/bash ~/.i3/bin/ws/terms.sh {{{term}}}, mode "default"

    # exit layout mode: "Enter" or "Escape"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# navigate workspaces next/previous like browser tabs
bindsym $mod+Next workspace next
bindsym $mod+Prior workspace prev
# navigate workspaces next/previous like browser tabs bringing focused window along
bindsym $mod+Shift+Next move workspace next; workspace next;
bindsym $mod+Shift+Prior move workspace prev; workspace prev;

# navigate empty(hidden) workspaces next/previous like browser tabs
bindsym $mod+Ctrl+Next exec --no-startup-id "~/.i3/bin/i3-empty-workspace.sh focus next"
bindsym $mod+Ctrl+Prior exec --no-startup-id "~/.i3/bin/i3-empty-workspace.sh focus prev"
# navigate empty(hidden) workspaces next/previous like browser tabs bringing focused window along
bindsym $mod+Ctrl+Shift+Next exec --no-startup-id "~/.i3/bin/i3-empty-workspace.sh move next"
bindsym $mod+Ctrl+Shift+Prior exec --no-startup-id "~/.i3/bin/i3-empty-workspace.sh move prev"

# navigate to first/last workspaces
bindsym $mod+Home exec --no-startup-id "~/.i3/bin/i3-extreme-workspace.sh focus first"
bindsym $mod+End exec --no-startup-id "~/.i3/bin/i3-extreme-workspace.sh focus last"
# navigate to first/last workspaces bringing focused window along
bindsym $mod+Shift+Home exec --no-startup-id "~/.i3/bin/i3-extreme-workspace.sh move first"
bindsym $mod+Shift+End exec --no-startup-id "~/.i3/bin/i3-extreme-workspace.sh move last"

# navigate to next/previous output (monitor)
bindsym $mod+$alt+Next focus output right
bindsym $mod+$alt+Prior focus output left
# move workspace to next/previous output (monitor)
bindsym $mod+$alt+Shift+Next move workspace to output right
bindsym $mod+$alt+Shift+Prior move workspace to output left

bindsym $mod+k exec --no-startup-id "~/.i3/bin/dmenu-workspaces.sh"

#endregion WORKSPACE NAV COMMANDS

# List current marks
bindsym $mod+Ctrl+Shift+m exec "~/.i3/bin/i3-notify-marks.sh"
# Mark current window
# Read 1 character and mark the current window with this character
bindsym $mod+m exec i3-input -F 'mark %s' -l 1 -P 'Mark: '
# Unmark current window
bindsym $mod+Shift+m [con_id="__focused__"] unmark

# Read 1 character and go to the window with the character
bindsym $mod+g exec i3-input -F '[con_mark="%s"] focus' -l 1 -P 'Goto: '

# Cycle through marked windows
bindsym $mod+Ctrl+t exec --no-startup-id "~/.i3/bin/i3-cycle-marks.sh"
bindsym $mod+Ctrl+Shift+t exec --no-startup-id "~/.i3/bin/i3-cycle-marks.sh reverse"

# TODO Modify the shell script to handle both scenarios a la i3-extreme-workspace.sh
# Create new workspace by incrementing current max WS number
bindsym $mod+minus exec --no-startup-id "i3-msg workspace number `i3-msg -t get_workspaces | jq '[.[].num] | max + 1'`"
# As above and move focused container to new workspace
bindsym $mod+Shift+minus exec --no-startup-id ~/.i3/bin/i3-move-container-to-new-workspace.sh

# Rename workspace
bindsym $mod+Ctrl+Shift+r exec i3-input -F 'rename workspace to "%s"' -P 'New #:New Name - '

# Open specific applications in floating mode
for_window [class="(?i)System-config-printer.py"] floating enable border normal
for_window [class="(?i)virtualbox"] floating enable border normal
for_window [title="About Pale Moon"] floating enable
for_window [title="alsamixer"] floating enable border pixel 1
for_window [title="^bmenu$"] floating enable border pixel 1
for_window [class="calamares"] floating enable border normal
for_window [class="Clipgrab"] floating enable
for_window [title="Dodge the Creeps"] floating enable border normal
for_window [title="File Transfer*"] floating enable
for_window [class="Galculator"] floating enable border pixel 1
for_window [class="Godot_Engine"] floating enable border normal
for_window [class="GParted"] floating enable border normal
for_window [title="i3_help"] floating enable sticky enable border normal
for_window [class="kruler"] floating enable border none
for_window [class="Lightdm-settings"] floating enable
for_window [class="Lxappearance"] floating enable sticky enable border normal
for_window [class="Manjaro Settings Manager"] floating enable border normal
for_window [class="Manjaro-hello"] floating enable
for_window [title="MuseScore: Play Panel"] floating enable
for_window [class="Nitrogen"] floating enable sticky enable border normal
for_window [class="Oblogout"] fullscreen enable
for_window [class="Pamac-manager"] floating enable
for_window [class="qt5ct"] floating enable sticky enable border normal
for_window [class="Qtconfig-qt4"] floating enable sticky enable border normal
for_window [class="Simple-scan"] floating enable border normal
for_window [class="Skype"] floating enable border normal
for_window [class="SpeedCrunch"] floating enable border pixel 1 resize set 800 400
for_window [class="TelegramDesktop"] border pixel
for_window [class="Timeset-gui"] floating enable border normal
for_window [class="Wally"] floating disable
for_window [class="Xfburn"] floating enable

# switch to workspace with urgent window automatically
for_window [urgent=latest] focus

# Reload current config
bindsym $mod+i reload
# Regenerate/load config file
bindsym $mod+Shift+i exec --no-startup-id "xrdb ~/.Xresources && ~/.i3/i3-config-gen.sh"
# Toggle strip_workspace_numbers
bindsym $mod+$alt+Shift+i exec --no-startup-id ~/.i3/i3-config-toggle-ws-numbers.sh

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Ctrl+$alt+Shift+i restart

# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"; exec --no-startup-id ~/.i3/bin/i3-warp-mouse-to-nagbar-cancel.sh;

# Set shut down, restart and locking features
bindsym $mod+Shift+Escape mode "$mode_system"

set $mode_system (l)ock, (e)xit, switch_(u)ser, (s)uspend, (h)ibernate, (r)eboot, (Shift+s)hutdown
mode "$mode_system" {
    bindsym l exec --no-startup-id i3exit lock, mode "default"
    bindsym s exec --no-startup-id i3exit suspend, mode "default"
    bindsym u exec --no-startup-id i3exit switch_user, mode "default"
    bindsym e exec --no-startup-id i3exit logout, mode "default"
    bindsym h exec --no-startup-id i3exit hibernate, mode "default"
    bindsym r exec --no-startup-id i3exit reboot, mode "default"
    bindsym Shift+s exec --no-startup-id i3exit shutdown, mode "default"

    # exit system mode: "Enter" or "Escape"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# set $rsz_step_sml 1
# set $rsz_step_reg 1
# set $rsz_step_lrg 50
# Resize window mode
bindsym $mod+r mode "$mode_resize"
# ＼ below is U+FF3C
set $mode_resize resize: g̳row s̳hrink     ＼|
mode "$mode_resize" {

    bindsym Left  resize shrink width  3 px
    bindsym Down  resize grow height   3 px
    bindsym Up    resize shrink height 3 px
    bindsym Right resize grow width    3 px

    # grow/shrink in all directions.
    bindsym g resize grow   up 100 px, resize grow   down 100 px, resize grow   left 160 px, resize grow   right 160 px;
    bindsym s resize shrink up 100 px, resize shrink down 100 px, resize shrink left 160 px, resize shrink right 160 px;

    # cycle PPTs - duplicates $mod versions below
    bindsym backslash exec --no-startup-id ~/.i3/bin/i3-cycle-size-ppts.sh grow
    bindsym Shift+backslash exec --no-startup-id ~/.i3/bin/i3-cycle-size-ppts.sh shrink

    # exit resize mode: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
# cycle PPTs - duplicated $mode_resize version above
bindsym $mod+backslash exec --no-startup-id "~/.i3/bin/i3-cycle-size-ppts.sh grow"
bindsym $mod+Shift+backslash exec --no-startup-id "~/.i3/bin/i3-cycle-size-ppts.sh shrink"


# Autostart applications
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec --no-startup-id nitrogen --restore; sleep 1; compton -b
exec --no-startup-id nm-applet
exec --no-startup-id xfce4-power-manager
exec --no-startup-id pamac-tray
exec --no-startup-id clipit
exec --no-startup-id conky -c /usr/share/conky/conky_maia
exec --no-startup-id conky -c ~/.config/conky/conky-i3ws.conf
exec --no-startup-id xautolock -time 10 -locker blurlock
exec_always --no-startup-id ff-theme-util
exec_always --no-startup-id fix_xcursor
exec --no-startup-id xbanish -t 1
exec --no-startup-id urxvtd -q -o -f

exec_always --no-startup-id i3-shade

# Color palette used for the terminal ( ~/.Xresources file )
# Colors are gathered based on the documentation:
# https://i3wm.org/docs/userguide.html#xresources
# Change the variable name at the place you want to match the color
# of your terminal like this:
# [example]
# If you want your bar to have the same background color as your
# terminal background change the line 362 from:
# background #14191D
# to:
# background $term_background
# Same logic applied to everything else.
set_from_resource $term_background background
set_from_resource $term_foreground foreground
set_from_resource $term_color0     color0
set_from_resource $term_color1     color1
set_from_resource $term_color2     color2
set_from_resource $term_color3     color3
set_from_resource $term_color4     color4
set_from_resource $term_color5     color5
set_from_resource $term_color6     color6
set_from_resource $term_color7     color7
set_from_resource $term_color8     color8
set_from_resource $term_color9     color9
set_from_resource $term_color10    color10
set_from_resource $term_color11    color11
set_from_resource $term_color12    color12
set_from_resource $term_color13    color13
set_from_resource $term_color14    color14
set_from_resource $term_color15    color15

# Colors from https://github.com/altdesktop/i3-style/blob/f93821b239667cb4ecff41e6ad9632da0b5aaa50/themes/debian
set_from_resource $background i3wm.USE_FALLBACK #222222
set_from_resource $statusline i3wm.USE_FALLBACK #666666
set_from_resource $separator  i3wm.USE_FALLBACK #444444

# $*_workspace vars are used by i3bar
# class                                                 border  backgr. text    indicator child_border
set_from_resource $focused_workspace  i3wm.USE_FALLBACK #d70a53 #d70a53 #ffffff #292F34
set_from_resource $active_workspace   i3wm.USE_FALLBACK #333333 #333333 #888888 #FDF6E3
set_from_resource $inactive_workspace i3wm.USE_FALLBACK #333333 #333333 #888888 #EEE8D5
set_from_resource $binding_mode       i3wm.USE_FALLBACK #16a085 #2C2C2C #F9FAF9
set_from_resource $urgent_workspace   i3wm.USE_FALLBACK #eb709b #eb709b #ffffff #E5201D

# class                                                                 border  backgr. text    indicator child_border
set_from_resource $client_focused          i3wm.client_focused          #d70a53 #d70a53 #ffffff #8c0333
set_from_resource $client_focused_inactive i3wm.client_focused_inactive #333333 #333333 #888888 #333333
set_from_resource $client_unfocused        i3wm.client_unfocused        #333333 #333333 #888888 #333333
set_from_resource $client_urgent           i3wm.client_urgent           #eb709b #eb709b #ffffff #eb709b
set_from_resource $client_placeholder      i3wm.client_placeholder      #000000 #0c0c0c #ffffff #000000
set_from_resource $client_background       i3wm.client_background       #2B2C2B

# Theme colors
client.focused          $client_focused
client.focused_inactive $client_focused_inactive
client.unfocused        $client_unfocused
client.urgent           $client_urgent
client.placeholder      $client_placeholder

client.background       $client_background

# Start i3bar to display a workspace bar (plus the system information i3status if available)
bar {
    i3bar_command i3bar
    # status_command i3status --config ~/.i3/.i3status.conf
    status_command exec ~/.i3/bin/any_position_wrapper.sh
    position bottom

    ## please set your primary output first. Example: 'xrandr --output eDP1 --primary'
    # tray_output primary
    # tray_output eDP1
    ## tray_output # this comment will be replaced with name of DISPLAY :0

    bindsym button4 nop
    bindsym button5 nop

    # Monospaced for properly sized icons in workspace tabs.
    # Status bar items override w/ proportional font in ~/.i3status.conf
    font pango:NotoSansMono Nerd Font Medium 9.0

    strip_workspace_numbers yes

    colors {
        background $background
        statusline $statusline
        separator  $separator

        focused_workspace  $focused_workspace
        active_workspace   $active_workspace
        inactive_workspace $inactive_workspace
        # binding_mode       $binding_mode
        urgent_workspace   $urgent_workspace
    }
}

# hide/unhide i3status bar
bindsym $mod+Ctrl+Shift+b bar mode toggle

#############################
### settings for i3-gaps: ###
#############################

# Set inner/outer gaps
gaps inner 14
gaps outer -2

# Additionally, you can issue commands with the following syntax. This is useful to bind keys to changing the gap size.
# gaps inner|outer current|all set|plus|minus <px>
# gaps inner all set 10
# gaps outer all plus 5

# Smart gaps (gaps used if only more than one container on the workspace)
smart_gaps on

# Smart borders (draw borders around container only if it is not the only container on this workspace)
# on|no_gaps (on=always activate and no_gaps=only activate if the gap size to the edge of the screen is 0)
smart_borders on

# Press $mod+Shift+g to enter the gap mode. Choose o or i for modifying outer/inner gaps. Press one of + / - (in-/decrement for current workspace) or 0 (remove gaps for current workspace). If you also press Shift with these keys, the change will be global for all workspaces.
set $mode_gaps Gaps: (o) outer, (i) inner
set $mode_gaps_outer Outer Gaps: +|-|0 (local), Shift + +|-|0 (global)
set $mode_gaps_inner Inner Gaps: +|-|0 (local), Shift + +|-|0 (global)
bindsym $mod+Shift+g mode "$mode_gaps"

set $plus KP_Add
set $minus KP_Subtract

mode "$mode_gaps" {
    bindsym o      mode "$mode_gaps_outer"
    bindsym i      mode "$mode_gaps_inner"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
mode "$mode_gaps_inner" {
    bindsym $plus  gaps inner current plus 5
    bindsym $minus gaps inner current minus 5
    bindsym 0     gaps inner current set 0

    bindsym Shift+$plus  gaps inner all plus 5
    bindsym Shift+$minus gaps inner all minus 5
    bindsym Shift+0     gaps inner all set 0

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
mode "$mode_gaps_outer" {
    bindsym $plus  gaps outer current plus 5
    bindsym $minus gaps outer current minus 5
    bindsym 0     gaps outer current set 0

    bindsym Shift+$plus  gaps outer all plus 5
    bindsym Shift+$minus gaps outer all minus 5
    bindsym Shift+0     gaps outer all set 0

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

exec_always `python ~/.i3/disable-standby-fs.py`
exec_always `sudo rmmod pcspkr`
exec_always blueman-applet
# exec --no-startup-id emacs --daemon

bindsym $mod+Shift+f exec --no-startup-id source ~/.dmenurc && quickswitch -d "dmenu -i -l 69 -w 600 -x 660 -y 450 $DMENU_OPTIONS_QUOTED  -p search"

bindsym XF86AudioLowerVolume exec --no-startup-id ~/bin/volume-change.sh '-2%'
bindsym XF86AudioRaiseVolume exec --no-startup-id ~/bin/volume-change.sh '+2%'
bindsym Shift+XF86AudioLowerVolume exec --no-startup-id ~/bin/volume-change.sh '-8%'
bindsym Shift+XF86AudioRaiseVolume exec --no-startup-id ~/bin/volume-change.sh '+8%'
bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause

# Transparency
# Start/stop the compositor daemon (compton is a symlink to picom)
# Of rare use (?), hence the big chords. Might help perf.
bindsym $mod+Ctrl+$alt+Shift+t exec --no-startup-id pkill compton
bindsym $mod+Ctrl+$alt+t exec --no-startup-id compton -b
# Transparency on/off.
# Edit config of running daemon. Seems kludgy but it works.
bindsym $mod+T       exec --no-startup-id "sed -i 's/^inactive-opacity = .*$/inactive-opacity = 0.20;/' ~/.config/compton.conf"
bindsym $mod+Shift+T exec --no-startup-id "sed -i 's/^inactive-opacity = .*$/inactive-opacity = 1.00;/' ~/.config/compton.conf"

# Node CLI app to quickly move a Pulseaudio input to a different sink. (e.g. from headphones to speakers)
# Change the default -title (add "-i3") so the window props don't affect editors, etc.
for_window [title="pactlmovesinkinput_i3"] floating enable sticky enable border pixel 1

bindsym $mod+Ctrl+$alt+Shift+m exec --no-startup-id terminal -e sh -c pactlmovesinkinput
#terminal -title pactlmovesinkinput_i3 -e pactlmovesinkinput
